.transform__poem-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .transform__poem-actions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
