.page {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Open Sans', 'Rubik', 'Arial', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  color: #0c0e1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}