.transform__poem-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 700px) and (min-width: 320px) {
  .transform__poem-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
