.mainpage__title {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media screen and (max-width: 440px) and (min-width: 320px) {
  .mainpage__title {
    font-size: 32px;
    line-height: 40px;
  }
}
