.button_next-page {
  display: block;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  height: 50px;
  width: 120px;
  background-color: #0d1f53;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.button_next-page:hover {
  background: #364a7f;
}

.button_next-page:focus {
  border: 2px solid #0d1f53;
  outline: 4px solid rgba(54, 74, 127, 0.5);
}
