.transform__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
  max-height: 150px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .transform__footer {
    margin: 48px 24px 24px;
  }
}

@media screen and (max-width: 700px) and (min-width: 320px) {
  .transform__footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 48px 24px 24px;
  }
}
