.transform__tag-cloud {
  list-style: none;
  padding-top: 5px;
  width: 580px;
  margin: 0;
  height: 215px;
  border: 1px solid #b6b5be;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 10px;
}

@media screen and (max-width: 910px) and (min-width: 320px) {
  .transform__tag-cloud {
    height: 500px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) and (min-width: 400px) {
  .transform__tag-cloud {
    width: 378px;
  }
}

@media screen and (max-width: 400px) and (min-width: 320px) {
  .transform__tag-cloud {
    width: 315px;
  }
}
