.button__reverse_disabled {
  margin-right: 25px;
  display: block;
  cursor: pointer;
  padding: 0;
  outline: none;
  height: 50px;
  width: 120px;
  border: 2px solid #B6B5BE;
  box-sizing: border-box;
  background-color: #fff;
  color: #B6B5BE;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
}