<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Гражданин-поэт 2025</title>
  <link rel="stylesheet" href="../assets/vendor/normalize.css" />
  <link rel="stylesheet" href="../pages/index.css" />
</head>

<body class="page">
  <header class="header header_with_title">
    <a href="../index.html"><img src="../assets/images/header_logo.png" alt="" class="header__logo" /></a>
    <div class="header__title-container">
      <h2 class="header__title">3. Подайте обращение</h2>
      <p class="header__subtitle">Заполните форму подачи обращения</p>
    </div>
  </header>
  <main>
    <section class="submit">
      <div class="submit__container">
        <form name="appeal-submit" class="submit__form" id="form-submit" novalidate>
          <fieldset name="contacts" class="submit__contacts">
            <div class="submit__input-container">
              <label for="name" class="submit__label">Имя</label>
              <input type="text" name="name" required="" minlength="2" maxlength="40"
                class="submit__input submit__input_type_text" id="name-input" />
              <span class="submit__input-error" id="name-input-error"></span>
            </div>

            <div class="submit__contacts-container">
              <div class="submit__input-container">
                <label for="telephone" class="submit__label">Телефон</label>
                <input type="tel" name="telephone" required="" minlength="2" maxlength="15"
                  class="submit__input submit__input_type_tel" id="tel-input" />
                <span class="submit__input-error submit__input-error_contacts" id="tel-input-error"></span>
              </div>

              <div class="submit__input-container">
                <label for="email" class="submit__label">E-mail</label>
                <input type="email" name="Email" required="" minlength="2" maxlength="30"
                  class="submit__input submit__input_type_email" id="email-input" />
                <span class="submit__input-error submit__input-error_contacts" id="email-input-error"></span>
              </div>
            </div>

            <div class="submit__input-container">
              <label for="adress" class="submit__label">Адрес</label>
              <input type="text" name="adress" required="" minlength="2" maxlength="50"
                class="submit__input submit__input_type_text" id="adress-input" />
              <span class="submit__input-error" id="adress-input-error"></span>

            </div>
          </fieldset>
        </form>

        <div class="submit__poem-example">
          <label for="Пример стихотворения" class="submit__label">Обращение</label>
          <textarea disabled name="Пример стихотворения" class="translation translation_submit" id="submit-translation">
          Все мы бражники здесь, 
          блудницы,
          Как невесело вместе нам!
          На стенах цветы и птицы
          Томятся по облакам.
          Ты куришь черную трубку,
          Так странен дымок над ней.
          Я надела узкую юбку,
          Чтоб казаться еще стройней.
          </textarea>
        </div>
      </div>
      <div class="submit__navigation">
        <nav class="button__container">
          <a href="../layouts/transform.html" class="button__link"><button type="reset" class="button__reverse"
              form="form">
              Назад
            </button></a>
          <button type="button" class="button__submit button__submit_popup-open" form="form-submit">
            Подать обращение
          </button>
          <!-- эта кнопка будет type="submit" -->
        </nav>
      </div>
    </section>
  </main>

  <section class="popup popup__submit">
    <div class="popup__container popup__container_submit">
      <a href="../index.html">
        <button type="button" aria-label="Закрыть" class="popup__close-button popup__submit_close-button"></button>
      </a>
      <h3 class="popup__title">Обращение № 123</h3>
      <p class="popup__subtitle">Передано в Управляющую организацию № 3</p>
      <p class="popup__text popup__text_submit">
        Решение будет направлено на электронную почту: poet93@yandex.ru
      </p>

      <a href="../index.html">
        <button type="button" class="button__next-page button__next-page_confirm">
          Ок
        </button></a>
    </div>
  </section>

  <script src="../scripts/submit.js"></script>
</body>

</html>