<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Гражданин-поэт 2025</title>
  <link rel="stylesheet" href="../assets/vendor/normalize.css" />
  <link rel="stylesheet" href="../pages/index.css" />
</head>

<body class="page">
  <header class="header header_with_title">
    <a href="../index.html"><img src="../assets/images/header_logo.png" alt="" class="header__logo" /></a>
    <div class="header__title-container">
      <h2 class="header__title">2. Трансформируйте Ваше обращение</h2>
      <p class="header__subtitle">
        Выберите теги, соответствующие вашей инициативе и переведите обращение
        в стих
      </p>
    </div>
  </header>
  <main>
    <section class="transform">
      <div class="transform__poem-container">
        <ul class="transform__tag-cloud">
          <li>
            <button class="transform__tag-container">Осыпается балкон</button>
          </li>

          <li>
            <button class="transform__tag-container">
              Надписи на фасадах
            </button>
          </li>
          <li>
            <button class="transform__tag-container">Протекает крыша</button>
          </li>
          <li>
            <button class="transform__tag-container">
              Водосточная труба
            </button>
          </li>
          <li>
            <button class="transform__tag-container">
              Образуются сосульки
            </button>
          </li>
          <li>
            <button class="transform__tag-container">Межпанельные швы</button>
          </li>
          <li>
            <button class="transform__tag-container">
              Разрушается козырек
            </button>
          </li>
          <li>
            <button class="transform__tag-container">
              Трещины в фундаменте
            </button>
          </li>
        </ul>
        <textarea disabled name="Пример стихотворения" class="translation" id="transform-translation">
          Все мы бражники здесь, 
          блудницы,
          Как невесело вместе нам!
          На стенах цветы и птицы
          Томятся по облакам.
          Ты куришь черную трубку,
          Так странен дымок над ней.
          Я надела узкую юбку,
          Чтоб казаться еще стройней.
          </textarea>
      </div>
      <nav class="transform__poem-actions">
        <button class="button__translate">Перевести</button>
        <div class="transform__translation-controls">
          <button class="transform__poem-navigation">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="#0C0E1A" />
            </svg>
          </button>
          <button class="transform__poem-navigation">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 4V1L8 5L12 9V6C15.31 6 18 8.69 18 12C18 13.01 17.75 13.97 17.3 14.8L18.76 16.26C19.54 15.03 20 13.57 20 12C20 7.58 16.42 4 12 4ZM12 18C8.69 18 6 15.31 6 12C6 10.99 6.25 10.03 6.7 9.2L5.24 7.74C4.46 8.97 4 10.43 4 12C4 16.42 7.58 20 12 20V23L16 19L12 15V18Z"
                fill="#0C0E1A" />
            </svg>
          </button>
          <button class="transform__poem-navigation">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#0C0E1A" />
            </svg>
          </button>
        </div>
      </nav>

      <div class="transform__footer">
        <div class="transform__footer-info">
          <button type="button" class="transform__disclaimer">
            <svg class="transform__disclaimer-question" width="25" height="24" viewbox="0 0 25 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.338 18H13.3994V16H11.338V18ZM12.3687 2C6.67913 2 2.06152 6.48 2.06152 12C2.06152 17.52 6.67913 22 12.3687 22C18.0582 22 22.6759 17.52 22.6759 12C22.6759 6.48 18.0582 2 12.3687 2ZM12.3687 20C7.82323 20 4.12296 16.41 4.12296 12C4.12296 7.59 7.82323 4 12.3687 4C16.9142 4 20.6144 7.59 20.6144 12C20.6144 16.41 16.9142 20 12.3687 20ZM12.3687 6C10.0908 6 8.24582 7.79 8.24582 10H10.3073C10.3073 8.9 11.2349 8 12.3687 8C13.5025 8 14.4301 8.9 14.4301 10C14.4301 12 11.338 11.75 11.338 15H13.3994C13.3994 12.75 16.4916 12.5 16.4916 10C16.4916 7.79 14.6466 6 12.3687 6Z"
                fill="#0C0E1A" />
            </svg>
            Почему объявление должно быть трансформировано в стихотворную
            форму?
          </button>
        </div>
        <nav class="button__container">
          <a href="../layouts/categories.html" class="button__link"><button class="button__reverse">Назад</button></a>
          <a href="../layouts/submit.html" class="button__link"><button type="submit"
              class="button__next-page">Далее</button></a>
        </nav>
      </div>
    </section>
  </main>

  <!-- попап здесь для демонстрации функциональности -->
  <section class="popup popup__lawquote">
    <div class="popup__container">
      <button type="button" aria-label="Закрыть" class="popup__close-button popup__lawquote_close-button"></button>
      <div class="popup__redline"></div>
      <img src="../assets/images/popup__logo.png" alt="" class="popup__logo" />
      <p class="popup__text">
        В соответствии с законом Российской Федерации
        № 1217-3/Ц от 12.06.2025 г. «О возможности ограничения свободы слова
        при обращении в органы местного самоуправления» изменены требования
        к подаче заявления в органы местного самоуправления.
      </p>
      <p class="popup__text">
        На основании п. 12 ст. 73 настоящего закона Заявитель обязан строго
        соблюдать предписанную форму подачи заявления. В случае своевольного
        обращения в органы местного самоуправления и/или несоблюдения
        соответствующей формы, Адресат имеет право не рассматривать обращение,
        а также обязан оповестить Министерство культуры и просвещения
        о неправомерном случае (в соответствии с п. 6 ст. 17).
      </p>
      <p class="popup__text">
        Заявитель имеет право воспользоваться сервисом для подачи заявления.
        Со списком сервисов, одобренных Министерством культуры и просвещения
        вы можете ознакомиться на сайте grazhdanin-poet.ru.
      </p>
      <p class="popup__text">
        Данный сервис является аккредитованным поставщиком услуги «Сервис для
        подачи заявления в органы местного самоуправления”и имеет лицензию
        ИА-47-8 053 205-КР.
      </p>
    </div>
  </section>

  <script src="../scripts/transform.js"></script>
</body>

</html>